.c-puzzle {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 0.2rem;

    &__letter {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
}
