@mixin pageLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 10%;

    font-size: 1.6rem;
}

@mixin screenTablet {
    @media (min-width: $bp-tablet) {
        @content;
    }
}

@mixin screenDesktop {
    @media (min-width: $bp-desktop) {
        @content;
    }
}
