/* COLORS */
/* BREAKPOINTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaebed;
}

html {
  font-size: 62.5%;
}

.button {
  width: 100%;
  border: none;
  border-radius: 999px;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.3s ease-out;
  background-color: white;
  color: #121212;
}
.button.is-disabled {
  background-color: #eaebed;
  pointer-events: none;
}
.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.2rem 1rem #121212;
}
.button:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.1rem 0.5rem #121212;
}

.p-namePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
  padding: 0 10%;
  font-size: 1.6rem;
  height: 100vh;
}
.p-namePage__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-namePage__form_input {
  width: 100%;
  height: 100%;
  border: 0.2rem solid #eaebed;
  border-radius: 999px;
  background-color: white;
  margin: 1rem;
  color: #121212;
  padding: 1.5rem 3rem;
}
.p-namePage__form_input::placeholder {
  color: #121212;
}
.p-namePage__form_input:focus {
  outline: none;
  border: 0.2rem solid #121212;
}

.p-playPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
  padding: 0 10%;
  font-size: 1.6rem;
  height: 100vh;
}
.p-playPage__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.6rem;
  text-align: center;
}
.p-playPage__content_header {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: space-evenly;
}

.c-keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 2rem 0.5rem;
  margin-top: 2rem;
}
.c-keyboard__key {
  width: 100%;
  border: 0.2rem solid #121212;
  background-color: white;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.c-keyboard__key--correct {
  background-color: #32cd32;
  pointer-events: none;
}
.c-keyboard__key--incorrect {
  background-color: #d10000;
  pointer-events: none;
}
.c-keyboard__key:hover {
  background-color: #121212;
  color: #eaebed;
}

.c-puzzle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 0.2rem;
}
.c-puzzle__letter {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.c-figure {
  fill: transparent;
  stroke: #121212;
  stroke-width: 4px;
  stroke-linecap: round;
}
