/* COLORS */
/* BREAKPOINTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaebed;
}

html {
  font-size: 62.5%;
}

.p-namePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
  padding: 0 10%;
  font-size: 1.6rem;
  height: 100vh;
}

.p-playPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
  padding: 0 10%;
  font-size: 1.6rem;
  height: 100vh;
}
.p-playPage__puzzle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-keyboard {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}
.c-keyboard button {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid #121212;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.c-keyboard button:hover {
  background-color: #121212;
  color: #eaebed;
}
